*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
}

.container h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  margin-bottom: 48px;
}

.barra-progresso{
  background: #ddd;
  height: 20px;
  width: 50%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.progresso{
  width: 0%;
  height: 100%;
  background: #4caf50;
  border-radius: 10px;
  transition: width .7s ease-in-out;
}

.controles {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.controles button{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: .4s;
}

.controles #voltar{
  border: 2px solid #4caf50;
  background: #fff;
}

.controles #avancar{
  border: 2px solid #49AB4D;
  background: #4caf50;
  color: #fff;
}

.controles #voltar:hover{
  background: #4CB04F;
  color: #fff;
}

.controles #avancar:hover{
  background: #8ED7A6;
  color: #2e2e2e;
}

@media(max-width: 780px){
  .container h1{
    font-size: 2rem;
  }
}

@media(max-width: 600px){
  .container h1{
    font-size: 1.3rem;
    margin-bottom: 24px;
  }
  .controles button{
    padding: 8px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
  }
}

@media(max-width: 400px){
  .container h1{
    font-size: 1rem;
    margin-bottom: 12px;
  }
  .controles button{
    padding: 4px 6px;
    font-size: .875rem;
    font-size: .75rem;
  }
}